.message-container {
  background-color: #ff0000;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.message-list {
  height: 100%;
}

.message-send {
  height: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.message-send input {
  flex: 1;
  margin-right: 15px;
}