.message-container {
  background-color: #e3e3e3;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.message-list {
  overflow-y: auto;
  height: calc(100vh - 140px);
  padding: 30px;
}

.message-send {
  height: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.message-send input {
  flex: 1;
  margin-right: 15px;
}

.message-item.contact {
  font-style: italic;
}